apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/gitlab-operator-kubernetes.gitlab-system: ""
  name: gitlab-operator-kubernetes
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  channel: stable
  installPlanApproval: Manual
  name: gitlab-operator-kubernetes
  source: community-operators
  sourceNamespace: openshift-marketplace
  startingCSV: gitlab-operator-kubernetes.v1.7.2