{{- if or .Values.serverless.enabled 
          .Values.servicemesh.enabled 
          .Values.amq.enabled 
}}
{{- $prefix := "" }}
{{- if eq .Values.controller.name "workshop" }}
  {{- $prefix = "workshop-" }}
{{- end }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ $prefix }}networking"
  annotations:
    argocd.argoproj.io/sync-wave: "-7"
spec:
  goTemplate: true
  goTemplateOptions:
    - "missingkey=error"
  generators:
    - list:
        elements:
        {{- if .Values.serverless.enabled }}
          - application: "{{ $prefix }}serverless-service"
            namespace: openshift-serverless
            chart: 
              name: serverless
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.serverless.chartVersion }}"
        {{- end }}
        {{- if .Values.servicemesh.enabled }}
          - application: "{{ $prefix }}servicemesh-service"
            namespace: openshift-servicemesh
            chart: 
              name: servicemesh
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.servicemesh.chartVersion }}"
        {{- end }}
        {{- if .Values.amq.enabled }}
          - application: "{{ $prefix }}amq-streams-service"
            namespace: kafka-streams
            chart: 
              name: amq
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.amq.chartVersion }}"
        {{- end }}
  template:
    metadata:
      name: "{{ `{{ .application }}` }}"
    spec:
      destination:
        namespace: "{{ `{{ .namespace }}` }}"
        server: "https://kubernetes.default.svc"
      source:
        chart: "{{ `{{ .chart.name }}` }}"
        targetRevision: "{{ `{{ .chart.version }}` }}"
        repoURL: "{{ `{{ .chart.url }}` }}"
      project: system
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        managedNamespaceMetadata:
          labels:
            argocd.argoproj.io/managed-by: "{{ .Values.gitops.namespace }}"
        syncOptions:
          - CreateNamespace=true
          - Validate=false
  templatePatch: |
    spec:
      source:
        helm:
        {{ `{{- if (index . "values") }}` }}
          values: |
            {{ `{{- .values | nindent 12 }}` }}
        {{ `{{- end }}` }}
{{- end }}