apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infrastructure-config
  annotations:
    argocd.argoproj.io/sync-wave: "-8"
spec:
  goTemplate: true
  goTemplateOptions:
    - "missingkey=error"
  generators:
    - matrix:
        generators:
          - clusters:
              selector:
                matchLabels:
                  cluster: default
          - list:
              elements:
              {{- if .Values.nfd.enabled }}
                - application: node-feature-discovery-service
                  namespace: openshift-nfd
                  wave: "-2"
                  chart: 
                    name: nfd
                    url: https://poc-examples.github.io/charts
                    version: "{{ .Values.nfd.chartVersion }}"
              {{- end }}
              {{- if .Values.nvidiagpu.enabled }}
                - application: nvidia-gpu-service
                  namespace: nvidia-gpu-operator
                  wave: "-2"
                  chart: 
                    name: nvidia-gpu-operator
                    url: https://poc-examples.github.io/charts
                    version: "{{ .Values.nvidiagpu.chartVersion }}"
              {{- end }}
              {{- if .Values.gitlab.enabled }}
                - application: cert-manager-service
                  namespace: cert-manager
                  wave: "-2"
                  chart: 
                    name: cert-manager
                    url: https://poc-examples.github.io/charts
                    version: "0.1.0"
              {{- end }}
              {{- if .Values.gitops.updater.enabled }}
                - application: image-updater-service
                  namespace: "{{ .Values.gitops.namespace }}"
                  wave: "-2"
                  chart: 
                    name: image-updater
                    url: https://poc-examples.github.io/charts
                    version: "{{ .Values.gitops.updater.chartVersion }}"
              {{- end }}
              {{- if .Values.external_secrets.enabled }}
                - application: secrets-connectors-service
                  namespace: secrets-connectors
                  wave: "-2"
                  chart: 
                    name: external-secrets-connectors
                    url: https://poc-examples.github.io/charts
                    version: "{{ .Values.external_secrets.connectors.chartVersion }}"
                  values: |
                    vault:
                      enabled: "{{ .Values.vault.enabled }}"
                      address: "{{ .Values.vault.address }}"
                    k8s:
                      enabled: "{{ .Values.external_secrets.k8sConnector.enabled }}"
              {{- end }}
              {{- if .Values.tekton.enabled }}
                - application: tekton-service
                  namespace: "openshift-pipelines"
                  wave: "-1"
                  chart: 
                    name: tekton
                    url: https://poc-examples.github.io/charts
                    version: "{{ .Values.tekton.chartVersion }}"
                  values: |
                    chains:
                      enabled: {{ .Values.chains.enabled }}
                    domain: {{ `{{ .metadata.labels.domain }}` }}
              {{- end }}
  template:
    metadata:
      name: "{{ `{{ .application }}` }}"
      annotations:
        argocd.argoproj.io/sync-wave: "{{ `{{ .wave }}` }}"
    spec:
      destination:
        namespace: "{{ `{{ .namespace }}` }}"
        server: "{{ `{{ .server }}` }}"
      source:
        chart: "{{ `{{ .chart.name }}` }}"
        targetRevision: "{{ `{{ .chart.version }}` }}"
        repoURL: "{{ `{{ .chart.url }}` }}"
      project: system
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        managedNamespaceMetadata:
          labels:
            argocd.argoproj.io/managed-by: "{{ .Values.gitops.namespace }}"
        syncOptions:
          - CreateNamespace=true
          - Validate=false
  templatePatch: |
    spec:
      source:
        helm:
        {{ `{{- if (index . "values") }}` }}
          values: |
            {{ `{{- .values | nindent 12 }}` }}
        {{ `{{- end }}` }}
