{{- if or .Values.opentelemetry.enabled 
          .Values.kiali.enabled 
          .Values.tracing.enabled
}}
{{- $prefix := "" }}
{{- if eq .Values.controller.name "workshop" }}
  {{- $prefix = "workshop-" }}
{{- end }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ $prefix }}observability"
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  goTemplate: true
  goTemplateOptions:
    - "missingkey=error"
  generators:
    - list:
        elements:
        {{- if .Values.opentelemetry.enabled }}
          - application: "{{ $prefix }}opentelemetry-service"
            namespace: opentelemetry
            chart: 
              name: opentelemetry
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.opentelemetry.chartVersion }}"
            values: |
              domain: "{{ .Values.cluster.domain  }}"
        {{- end }}
        {{- if .Values.kiali.enabled }}
          - application: "{{ $prefix }}kiali-service"
            namespace: kiali-ossm
            chart: 
              name: kiali
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.kiali.chartVersion }}"
        {{- end }}
        {{- if .Values.tracing.enabled }}
          - application: "{{ $prefix }}distributed-tracing-service"
            namespace: openshift-distributed-tracing
            chart: 
              name: distributed-tracing
              url: https://poc-examples.github.io/charts
              version: "{{ .Values.tracing.chartVersion }}"
        {{- end }}
  template:
    metadata:
      name: "{{ `{{ .application }}` }}"
    spec:
      destination:
        namespace: "{{ `{{ .namespace }}` }}"
        server: "https://kubernetes.default.svc"
      source:
        chart: "{{ `{{ .chart.name }}` }}"
        targetRevision: "{{ `{{ .chart.version }}` }}"
        repoURL: "{{ `{{ .chart.url }}` }}"
      project: system
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        managedNamespaceMetadata:
          labels:
            argocd.argoproj.io/managed-by: "{{ .Values.gitops.namespace }}"
        syncOptions:
          - CreateNamespace=true
          - Validate=false
  templatePatch: |
    spec:
      source:
        helm:
        {{ `{{- if (index . "values") }}` }}
          values: |
            {{ `{{- .values | nindent 12 }}` }}
        {{ `{{- end }}` }}
{{- end }}