kind: ConfigMap
apiVersion: v1
metadata:
  name: kubernetes-plugin
data:
  kubernetes-plugin.yaml: |
    kubernetes:
      clusterLocatorMethods:
        - type: config
          clusters:
            {{- range .Values.clusters  }}
            - authProvider: oidc
              name: {{ .name }}
              skipTLSVerify: true
              oidcTokenProvider: oidc
              url: https://api.{{ .domain }}:{{ .api_port }}
            {{- end }}
      customResources:
        - apiVersion: v1
          group: route.openshift.io
          plural: routes
      serviceLocatorMethod:
        type: multiTenant

    dynamicPlugins:
      frontend:
        backstage.plugin-kubernetes:
          mountPoints:
            - mountPoint: entity.page.kubernetes/cards
              importName: EntityKubernetesContent
              config:
                layout:
                  gridColumn: "1 / -1"
                if:
                  anyOf:
                    - hasAnnotation: backstage.io/kubernetes-id
                    - hasAnnotation: backstage.io/kubernetes-namespace
        my-teams:
          package: '@cah/backstage-plugin-slf-my-teams-dynamic'
          pluginConfig: {}

          dynamicRoutes:
            - path: /my-teams
              importName: SlfMyTeamsPage
              module: ./dist-scalprum/index.esm.js
              menuItem:
                text: My Teams
